.filter-widget {
  padding: 3px 10px;
  background-color: #f9f9f9;
  border: 0px solid #f4f4f4;
  background-color: #0095d9;
  font-weight: normal;
  border-radius: 2px;
  font-size: .8rem;
  margin-right: 4px;
  display: inline-block;
  margin-top: 2px;color:#fff;border-radius: 1rem;
}
.clickable {
  cursor: pointer;
}
.float-left{
  float: left;
}
