<div style="margin: 2px auto; width: 100%;">
  <nb-card>
    <nb-card-body>
      <app-filter-chip-list></app-filter-chip-list>
    </nb-card-body>
  </nb-card>

  <div class="row">
    <div class="col" style="width: 55%;padding-left: 15px;">
      <nb-card style="width: 100%;height: 530px;">
          <nb-card-header>
              <i class="fa fa-comments"></i> Comment Analysis
          </nb-card-header>
        <nb-card-body>
          <app-chart-container [chart]="scatter" [updateData]="onDataUpdate"></app-chart-container>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col" style="width: 44.5%; margin-left: 1px; padding: 0">
      <nb-card style="width: 100%;height: 530px;">
        <nb-card-header>
            <i class="fa fa-comments"></i> Comments
        </nb-card-header>
        <nb-card-body class="body">
            <input type="text" nbInput placeholder="Search...." [(ngModel)]="searchText" (keyup)="searchTerm$.next(searchText)" style="margin-bottom: 10px;width:100%">
          <app-chart-container [chart]="comments" [updateData]="onDataUpdate"></app-chart-container>
          <nb-list>
            <nb-list-item *ngFor="let item of commentItems">
              <div class="row">
                <div class="col" style="width: 85%;color:#74788d;font-size: .85rem">
                  {{ item }}
                </div>
                <div class="col" style="width: 15%">
                  <button style="position: absolute;margin-top: -5px;font-weight: 500;" nbButton status="primary" size="tiny">
                    <nb-icon icon="paper-plane"></nb-icon>                   
                  </button>
                </div>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
